In [1]:
import pandas as pd
import download_data
import feature_engineer
import os

In [ ]:
# Check if we have the updated DF if not if not os.path.exists(data_dir):

In [3]:
# 1) DOWNLOAD DATA
data_dir = os.getcwd()+'/Data'
data_url = "https://divvy-tripdata.s3.amazonaws.com/index.html"

if not os.path.exists(data_dir):
    download_data.download_data(data_dir,data_url)

In [ ]:
# 2) COMBINE + FEATURE ENGINEER

In [4]:
feature_engineer.engineer(data_dir)

In [5]:
data = pd.read_csv(os.path.join(data_dir,'engineered_df.csv'))

/Users/tylerbell/opt/anaconda3/envs/myenv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
data.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'year', 'month', 'weekday', 'duration',
       'duration_mins'],
      dtype='object')

In [11]:
data.duration_mins.describe()

count    5.378834e+06
mean     2.000027e+01
std      2.999847e+02
min     -2.904900e+04
25%      6.000000e+00
50%      1.200000e+01
75%      2.200000e+01
max      5.594400e+04
Name: duration_mins, dtype: float64

In [12]:
# Trips that have a negative duration are erroneous.
# Trips that are longer than a day are anomalies, and potentially
# erroneous

In [13]:
negative_trips = data[data.duration_mins < 0]

In [16]:
negative_trips['member_casual'].value_counts()

member    366
casual    121
Name: member_casual, dtype: int64

In [19]:
def duration_eval(duration):
    if duration < 0:
        return 0
    elif duration >= 60*24:
        return 1
    else:
        return 2

In [20]:
data['de'] = data['duration_mins'].transform(duration_eval)

In [22]:
data['de'].value_counts()

2    5374509
1       3838
0        487
Name: de, dtype: int64

In [17]:
data.member_casual.value_counts()

member    2908317
casual    2470517
Name: member_casual, dtype: int64

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,year,month,weekday,duration,duration_mins
0,0,BD0A6FF6FFF9B921,electric_bike,2020-11-01 13:36:00,2020-11-01 13:45:40,Dearborn St & Erie St,110.0,St. Clair St & Erie St,211.0,41.894177,-87.629127,41.894434,-87.623379,casual,2020,11,6,0 days 00:09:40,9
1,1,96A7A7A4BDE4F82D,electric_bike,2020-11-01 10:03:26,2020-11-01 10:14:45,Franklin St & Illinois St,672.0,Noble St & Milwaukee Ave,29.0,41.890959,-87.635343,41.900675,-87.662480,casual,2020,11,6,0 days 00:11:19,11
2,2,C61526D06582BDC5,electric_bike,2020-11-01 00:34:05,2020-11-01 01:03:06,Lake Shore Dr & Monroe St,76.0,Federal St & Polk St,41.0,41.880983,-87.616754,41.872054,-87.629550,casual,2020,11,6,0 days 00:29:01,29
3,3,E533E89C32080B9E,electric_bike,2020-11-01 00:45:16,2020-11-01 00:54:31,Leavitt St & Chicago Ave,659.0,Stave St & Armitage Ave,185.0,41.895499,-87.682013,41.917744,-87.691392,casual,2020,11,6,0 days 00:09:15,9
4,4,1C9F4EF18C168C60,electric_bike,2020-11-01 15:43:25,2020-11-01 16:16:52,Buckingham Fountain,2.0,Buckingham Fountain,2.0,41.876497,-87.620358,41.876448,-87.620338,casual,2020,11,6,0 days 00:33:27,33